/** Pets **/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

header.well {
  background-color: #39B54A;
  color: white;
}

header.well span {
  padding-right: 1em;
  font-size: 16pt;
}



#title {
  font-size: 26px;
  text-align: center;
  display: inline
}

#loginarea {
  display: inline
}

nav {
  margin-bottom: 2em;
  background-color: #009444;
  padding: 1em;
  padding-left: 2em;
  border-radius: 25px;
}

nav h2 {
  font-size: 20px;
  margin-top: 10px;
}

nav a {
  /* force pointer for non-links */
  cursor: pointer; 
  color: #fff;
}

nav ul li {
  margin-top: 10px;
  padding-bottom: 1em;
}

a.activeLink {
  background-color: #39B54A;
}

a:hover, a:focus, a.activeLink:hover {
  color: white;
}

#chartdiv {
  padding-top: 1em;
}

#profilepicture {
  height: 100px;
  width: 80px;
}

.food-row {
  line-height: 30px;
  height: 30px;
}

/*
.nutrientinfo {
  height: 30px;
  float: right;
}

.nutrientname {
  float: left;
}

.activeLink {
  background-color:#eee;
  padding: .25em 1em;
  border: 1px solid #ddd;
}
*/

.btn-space {
  margin-right: 5px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1em;
}

.card {
  flex-basis: 33%;
  flex-grow: 0;
  margin-bottom: 1.5em;
}

.card .content {
  margin: .5em 1em;
  border: 1px solid rgba(160, 160, 160, 0.2);
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  height: 100%;
}

.card img {
  width: 100%;
}

.card img.nutrientinfo {
  height: 30px;
  width: 20%;
}

.card .content > :not(img) {
  margin-left: 10px;
  margin-right: 10px;
}

.redcard {
  background-color: red;
}

.greencard {
  background-color: green;
}

.card p {
  color: white;
}

@media (min-width: 768px){
  #title {
    font-size: 35px;
  }

  .card {
    flex-basis: 25%;
  }
}

@media (min-width: 992px){
  .card {
    flex-basis: 20%;
  }
}

footer {
  text-align:right;
}

footer small {
  font-size: 50%;
}

.card-container-slim .card {
  flex-basis: 100%;
}

.adopt-carousel {
  width:420px; /* hard-coded to fit the images */
  margin-bottom: 2em;
}

#progress {
  padding-top: 2em;
}